@model List<AcunmedyaAkademiPortfolio.Models.TblSkill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Yetenekler</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Yetenek İsmi</th>
        <th>Yetenek Oranı</th>

        <th>Sil</th>
        <th>Güncelle</th>

    </tr>


    @foreach (var item in Model)
    {

        <tr>
            <td>@(++count)</td>
            <td>@item.Name</td>
            <td>@item.Percentage</td>

            <td><a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>

<a href="/Skill/AddSkill/" class="btn btn-primary">Yeni Yetenek Ekle</a>



